.App {
  text-align: center;
  background-color: rgb(245, 233, 251);
  overflow-y: hidden;
  height: 100vh;
}
.Appheader h1 {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  padding: 0;
  margin: 0;
  /* font-family: "Lobster", cursive; */
  font-family: "Metal Mania", cursive;
  font-size: 40px;
}
.Appheader {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;
}
.formItems {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
.loginItems {
  justify-content: center;
  display: flex !important;
}
